/* BASIC STYLES HERE */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #dc0a2d;
}

main {
  flex-grow: 1;

}

#pop-toast-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}

.pokedex {
  background-color: #29aafd;

  border: solid thick #480417;
}

hr {
  margin: 5px;
  color: black;
}

.pokedexImg {
  max-height: 30dvh;
  min-height: 30dvh;
  max-width: 100%;

}

.pokedexWindow {
  background-color: #dedede;
}